.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 12px;
}

@media (min-width: 641px) {
  .product-list {
    gap: 16px;
    padding: 16px;
  }
}

@media (min-width: 1025px) {
  .product-list {
    gap: 20px;
    padding: 20px;
  }
}