.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
  font-size: 14px;
}

.navbar .active {
  border-bottom: 2px solid #FFD400;
}